.a-scene-holder {
  width: 1280px;
  height: 720px;
  position: relative;
  display: block;
}

.jl-vid {
  width: 1280px;
  height: 720px;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -2;
}
